<section id="contact">
    <!-- Contact Info -->
    <div class="contact-info">
        <h3 class="main-heading"><span>Contact info</span></h3>
        <ul>
            <li>Email: <span class="blur-item">ghalamdoost.shahab.jobs@gmail.com</span></li>
            <li>Phone: <span class="blur-item">+1 (519) 897-1585</span></li>
        </ul>
    </div>
    <!-- /Contact Info -->
    <!-- Contact Form -->
    <div class="contact-info">
        <h3 class="main-heading"><span>Donate</span></h3>
        <a href="https://www.gofundme.com/f/phrvba-donate?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1" target="_blank" ><i class="fas fab fa-donate"></i></a>
    </div>
    <!-- /Contact Form -->
</section>

