
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <!-- Logo -->
    <div id="logo">
        <h2>SHAHAB GHALAMDOOST</h2>
        <h4>Fullstack Asp.Net/MEAN Stack Web Developer</h4>
    </div>
    <!-- /Logo -->
    <!-- Social Icons -->
    <ul class="socialicons">
        <li><a href="https://www.linkedin.com/in/shahab-ghalamdoost-511b2763" target="_blank" class="transition"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://stackoverflow.com/users/11449540/shahab-ghalamdoost" target="_blank" class="transition"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="https://github.com/ghalamdoost" target="_blank" class="transition"><i class="fab fa-github"></i></a></li>
    </ul>    
    <!-- /Social Icons -->
</header>